<html>
   

<style>
h2 {
  color: darkblue;
}

label{
	color:darkblue;
	font-size: 20px;
}
font-size: 10px;

</style>
<body onload="document.refresh();">  
 <h2> Welcome to the Virtual Learning Application </h2>
<div>
<img src="https://media2.govtech.com/images/940*630/shutterstock_548778247.jpg" width="800" height="500" >
</div>
   
<div>
 <br>

<form method="POST" autocomplete="off">
     <label for="student_id">Enter a Student ID:  </label>

     <input name="S_ID" id="student_id">
     <br>
     <br>
	<input type="submit" style="font-face: 'Comic Sans MS'; font-size: larger; color: black; background-color: powderblue; border: 2pt ridge lightgrey" value="  Submit  ">

    
</form>

</div>
</body>  
</html>